# Clave secreta para sesiones de Flask
SECRET_KEY=cambiar_por_clave_secreta_aqui

# Contraseñas de acceso al sistema
PASSWORD_ADMIN=admin123
PASSWORD_PANEL=panel123

# URLs de Google Sheets
URL_FLOTA_PRINCIPAL=https://docs.google.com/spreadsheets/d/.../pub?gid=0&single=true&output=csv
URL_HIST_ACTIVIDAD=https://docs.google.com/spreadsheets/d/.../pub?gid=0&single=true&output=csv
URL_HIST_COMBUSTIBLE=https://docs.google.com/spreadsheets/d/.../pub?gid=0&single=true&output=csv
URL_INFORME_ARBOL=https://docs.google.com/spreadsheets/d/.../pub?gid=0&single=true&output=csv
URL_INFORME_ARBOL_CONTRATADOS=https://docs.google.com/spreadsheets/d/.../pub?gid=0&single=true&output=csv
